<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Test Suite">

	<listeners>
		<listener class-name="Utilities.TestListener"></listener>
	</listeners>


	<test name="React Shopping Cart Test Cases">
	<parameter name="browser"  value="${browser}"/>
	<parameter name="env"  value="qa1"/>
		<classes>
			<class name="testCases.FilterTestCases"></class>
			<class name="testCases.CartTestCases"></class>
			<class name="testCases.SortTestCases"></class>
		</classes>
	</test>
</suite>